* text=auto !eol
action/wp2spip.php -text
action/wp2spip_documents_internes.php -text
action/wp2spip_html.php -text
action/wp2spip_liens_internes.php -text
inc/inc-articles.html -text
inc/inc-auteurs.html -text
inc/inc-auteurs.php -text
inc/inc-docs.html -text
inc/inc-evenements.html -text
inc/inc-forums.html -text
inc/inc-liens-docs.html -text
inc/inc-liens-mots.html -text
inc/inc-metas.html -text
inc/inc-mots.html -text
inc/inc-pages.html -text
inc/inc-polyhierarchies.html -text
inc/inc-rubriques.html -text
inc/inc-sites.html -text
inc/inc-stats-wp.html -text
inc/inc-types-docs.html -text
inc/sale.php -text
inc/simple_html_dom.php -text
inc/wp2spip_export.html -text
inc/wp2spip_export_fonctions.php -text
lang/paquet-wp2spip_fr.php -text
lang/wp2spip.xml -text
lang/wp2spip_fr.php -text
modeles/wp_catlist.html -text
/paquet.xml -text
prive/exec/wp2spip.html -text
prive/exec/wp2spip_dump.html -text
prive/exec/wp2spip_fin.html -text
prive/themes/spip/images/wp2spip-16.png -text
prive/themes/spip/images/wp2spip.png -text
